div {
  height: 200px;
  width: 200px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;

  z-index: 5;

  background: green;
}

.child {
  position: relative;
  left: 100px;
  top: 50px;

  z-index: 1;

  background: blue;
}

.outer {
  position: relative;
  top: -50px;
  left: 50px;

  z-index: 4;

  background: red;
}
